@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  background: #fbfcfd;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}

.container .mobile-nav {
  width: 100%;
  display: none;
  height: 70px;
  background-color: #121a31;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container .mobile-nav {
    display: block;
  }
}

.container nav {
  margin: 0;
  padding: 0;
  height: 100px;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .container nav {
    display: none;
  }
}

.container nav img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.container nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.container nav ul li {
  font-size: small;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.container nav ul li:hover {
  color: #000;
}

.container nav button {
  width: 100px;
  padding: 10px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background-color: #1db3ee;
  color: white;
  font-weight: bolder;
  font-size: small;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.container nav button:hover {
  background-color: #bbe8fa;
}

.container section {
  width: 100%;
  margin: 0;
  height: auto;
  background-color: #fbfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .container section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container section .my-intro {
  width: 400px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: xx-large;
}

@media screen and (max-width: 600px) {
  .container section .my-intro {
    font-size: small;
    width: 290px;
  }
}

.container section .my-intro h1 {
  font-family: "Varela Round", sans-serif;
}

.container section .description {
  width: 400px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .container section .description {
    font-size: small;
    width: 270px;
  }
}

.container section .description p {
  font-size: medium;
  color: #555;
  font-weight: bold;
}

.container .heading {
  background-color: #ecf1fc;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .container .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .heading img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.container .heading h1 {
  text-align: center;
  font-size: x-large;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container .heading h1 {
    font-size: medium;
  }
}

.container .skills {
  width: 100%;
  background-color: #ecf1fc;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .container .skills {
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  .container .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.container .skills .circle {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -270px;
}

@media screen and (max-width: 600px) {
  .container .skills .circle {
    width: 130px;
  }
}

.container .projects {
  width: 100%;
  height: 600px;
  background-color: #fdfdff;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .container .projects {
    display: none;
  }
}

.container .projects .previous.navigator {
  position: absolute;
  z-index: 5;
  width: 100px;
  top: 50%;
  cursor: pointer;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 70px;
  font-size: small;
}

.container .projects .previous.navigator img {
  width: 20px;
  height: 20px;
}

.container .projects .next.navigator {
  position: absolute;
  top: 50%;
  z-index: 5;
  right: 70px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
}

.container .projects .next.navigator img {
  width: 20px;
  height: 20px;
}

.container .projects #project_name {
  font-size: x-large;
  position: relative;
  top: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: top 500ms ease-in;
  transition: top 500ms ease-in;
}

@media screen and (max-width: 600px) {
  .container .projects #project_name {
    font-size: medium;
  }
}

.container .projects #project_name1 {
  font-size: x-large;
  position: relative;
  top: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: top 500ms ease-in 200ms;
  transition: top 500ms ease-in 200ms;
}

@media screen and (max-width: 600px) {
  .container .projects #project_name1 {
    font-size: medium;
  }
}

.container .projects .project {
  width: 500px;
  height: 400px;
  margin-left: 100px;
  background-color: dodgerblue;
  border-radius: 7px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate3d(0, 0, 0, 0);
          transform: rotate3d(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 20px #aaa;
          box-shadow: 5px 5px 20px #aaa;
  -webkit-transition: top 500ms ease-in 300ms, -webkit-transform 500ms ease;
  transition: top 500ms ease-in 300ms, -webkit-transform 500ms ease;
  transition: transform 500ms ease, top 500ms ease-in 300ms;
  transition: transform 500ms ease, top 500ms ease-in 300ms, -webkit-transform 500ms ease;
  overflow: hidden;
  position: relative;
  top: 150px;
}

@media screen and (max-width: 600px) {
  .container .projects .project {
    width: 100px;
  }
}

.container .projects .project:hover {
  -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
          transform: rotate3d(2, -1, -1, -0.2turn);
}

.container .projects .project:hover > .cover {
  -webkit-transform: rotate3d(0, 1, 0.5, 3.142rad);
          transform: rotate3d(0, 1, 0.5, 3.142rad);
}

.container .projects .project .cover {
  width: 100%;
  height: 100%;
  background-image: url(./example.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate3d(0 0 0 0);
          transform: rotate3d(0 0 0 0);
  -webkit-transition: -webkit-transform 500ms ease 200ms;
  transition: -webkit-transform 500ms ease 200ms;
  transition: transform 500ms ease 200ms;
  transition: transform 500ms ease 200ms, -webkit-transform 500ms ease 200ms;
}

.container .projects .project1 {
  width: 500px;
  height: 400px;
  margin-left: 100px;
  background-color: dodgerblue;
  border-radius: 7px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate3d(0, 0, 0, 0);
          transform: rotate3d(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 20px #aaa;
          box-shadow: 5px 5px 20px #aaa;
  -webkit-transition: top 500ms ease-in 400ms, -webkit-transform 500ms ease;
  transition: top 500ms ease-in 400ms, -webkit-transform 500ms ease;
  transition: transform 500ms ease, top 500ms ease-in 400ms;
  transition: transform 500ms ease, top 500ms ease-in 400ms, -webkit-transform 500ms ease;
  overflow: hidden;
  position: relative;
  top: 300px;
}

@media screen and (max-width: 600px) {
  .container .projects .project1 {
    width: 100%;
  }
}

.container .projects .project1:hover {
  -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
          transform: rotate3d(2, -1, -1, -0.2turn);
}

.container .projects .project1:hover > .cover {
  -webkit-transform: rotate3d(0, 1, 0.5, 3.142rad);
          transform: rotate3d(0, 1, 0.5, 3.142rad);
}

.container .projects .project1 .cover {
  width: 100%;
  height: 100%;
  background-image: url(./example.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate3d(0 0 0 0);
          transform: rotate3d(0 0 0 0);
  -webkit-transition: -webkit-transform 500ms ease 200ms;
  transition: -webkit-transform 500ms ease 200ms;
  transition: transform 500ms ease 200ms;
  transition: transform 500ms ease 200ms, -webkit-transform 500ms ease 200ms;
}

.container .testimonials {
  width: 95%;
  border-top-right-radius: 35px;
  height: 600px;
  padding: 10px 0;
  background-color: #121a31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .container .testimonials {
    width: 100%;
    min-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top-right-radius: 0;
  }
}

.container .testimonials h1 {
  position: absolute;
  margin: 0;
  font-size: 40px;
  text-transform: capitalize;
  color: #ece5e5;
  left: -400px;
  top: 100px;
  opacity: 0;
  z-index: 3;
}

.container .testimonials h3 {
  position: absolute;
  margin: 0;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  left: -400px;
  top: 150px;
  opacity: 0;
  z-index: 3;
}

.container .testimonials button {
  position: absolute;
  width: 200px;
  padding: 15px 10px;
  border-radius: 30px;
  outline: none;
  left: -400px;
  font-weight: bold;
  top: 300px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #f8125f;
  text-transform: capitalize;
  font-size: large;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 7px #222;
          box-shadow: 0 0 7px #222;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.container .testimonials button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container .testimonials .message {
  width: 600px;
  cursor: pointer;
  height: 400px;
  background-color: transparent;
  border-radius: 7px;
  -webkit-animation: none;
          animation: none;
  position: relative;
  overflow: hidden;
  margin-right: 100px;
}

@media screen and (max-width: 600px) {
  .container .testimonials .message {
    width: 80%;
    height: 300px;
  }
}

.container .testimonials .message img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
}

.container .testimonials .message .cover {
  width: 0px;
  -webkit-transform: translate(30px);
          transform: translate(30px);
  height: 100%;
  position: absolute;
  opacity: .8;
  background-color: #f8f7f4;
}

.container footer {
  width: 95%;
  height: auto;
  border-top: 0.3px solid #444443;
  background-color: #121a31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .container footer {
    width: 100%;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .container footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.container footer .firstBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .container footer .firstBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

.container footer .firstBox a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container footer .firstBox a img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.container footer .firstBox ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container footer .firstBox ul li {
  color: #ccc9c9;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.container footer .firstBox ul li:hover {
  text-decoration: underline;
}

.container footer .secondBox {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .container footer .secondBox {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.container footer .secondBox ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container footer .secondBox ul li {
  cursor: pointer;
  color: #ccc9c9;
  margin-bottom: 10px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.container footer .secondBox ul li:hover {
  text-decoration: underline;
}

.container footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.container footer form input {
  margin: 10px 0;
  padding: 10px;
  text-transform: capitalize;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: small;
  color: whitesmoke;
  border: none;
  background-color: #1e1e41;
}

@media screen and (max-width: 600px) {
  .container footer form input {
    font-size: medium;
  }
}

.container footer form textarea {
  margin: 10px 0;
  height: 100px;
  width: 250px;
  padding: 10px;
  outline: none;
  font-size: small;
  font-family: "Poppins", sans-serif;
  color: #ddd7d7;
  border: none;
  background-color: #1e1e41;
}

@media screen and (max-width: 600px) {
  .container footer form textarea {
    font-size: medium;
  }
}

.container footer form button {
  width: 100%;
  padding: 10px;
  background-color: #1c3853;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-transform: capitalize;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .container footer form button {
    font-size: medium;
    padding: 15px 0;
  }
}

.container footer form button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #234463;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  z-index: -1;
  border-radius: 5px;
}

.container footer form button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.container footer form h3 {
  color: #c9c7c7;
  text-align: center;
  font-size: medium;
}

@media screen and (max-width: 600px) {
  .container footer form h3 {
    font-size: large;
  }
}

@-webkit-keyframes animate {
  from {
    background-color: white;
  }
  to {
    background-color: #52a8da;
  }
}

@keyframes animate {
  from {
    background-color: white;
  }
  to {
    background-color: #52a8da;
  }
}

@-webkit-keyframes message {
  from {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  to {
    -webkit-transform: translate(-70px) scale(1.1);
            transform: translate(-70px) scale(1.1);
  }
}

@keyframes message {
  from {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  to {
    -webkit-transform: translate(-70px) scale(1.1);
            transform: translate(-70px) scale(1.1);
  }
}

@-webkit-keyframes mobileMessage {
  from {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  to {
    -webkit-transform: translate(50px, 150px) scale(1);
            transform: translate(50px, 150px) scale(1);
  }
}

@keyframes mobileMessage {
  from {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  to {
    -webkit-transform: translate(50px, 150px) scale(1);
            transform: translate(50px, 150px) scale(1);
  }
}

@-webkit-keyframes name {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 100px;
  }
}

@keyframes name {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 100px;
  }
}

@-webkit-keyframes mobileName {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 90px;
    top: 170px;
  }
}

@keyframes mobileName {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 90px;
    top: 170px;
  }
}

@-webkit-keyframes role {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 100px;
    top: 200px;
  }
}

@keyframes role {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 100px;
    top: 200px;
  }
}

@-webkit-keyframes mobileRole {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 80px;
    top: 250px;
  }
}

@keyframes mobileRole {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 80px;
    top: 250px;
  }
}

@-webkit-keyframes button {
  from {
    left: -400px;
  }
  to {
    left: 100px;
  }
}

@keyframes button {
  from {
    left: -400px;
  }
  to {
    left: 100px;
  }
}

@-webkit-keyframes mobileButton {
  from {
    left: -400px;
  }
  to {
    left: 90px;
  }
}

@keyframes mobileButton {
  from {
    left: -400px;
  }
  to {
    left: 90px;
  }
}

@-webkit-keyframes cover {
  0% {
    width: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  51% {
    width: 150px;
  }
  52% {
    width: 200px;
    -webkit-transform: translate(350px);
            transform: translate(350px);
  }
  100% {
    width: 0px;
    -webkit-transform: translate(750px);
            transform: translate(750px);
  }
}

@keyframes cover {
  0% {
    width: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  51% {
    width: 150px;
  }
  52% {
    width: 200px;
    -webkit-transform: translate(350px);
            transform: translate(350px);
  }
  100% {
    width: 0px;
    -webkit-transform: translate(750px);
            transform: translate(750px);
  }
}

@-webkit-keyframes mobileCover {
  0% {
    width: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  51% {
    width: 150px;
  }
  52% {
    width: 200px;
    -webkit-transform: translate(150px);
            transform: translate(150px);
  }
  100% {
    width: 0px;
    -webkit-transform: translate(300px);
            transform: translate(300px);
  }
}

@keyframes mobileCover {
  0% {
    width: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  51% {
    width: 150px;
  }
  52% {
    width: 200px;
    -webkit-transform: translate(150px);
            transform: translate(150px);
  }
  100% {
    width: 0px;
    -webkit-transform: translate(300px);
            transform: translate(300px);
  }
}

@-webkit-keyframes image {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes image {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */