* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.xs-icon {
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.md-icon {
  width: 18px;
  height: 18px;
}

.md-logo {
  width: 120px;
  height: 70px;
}

.row-right {
  justify-self: end;
}

.user-initials {
  width: 23px;
  height: 23px;
  font-size: 12px;
  padding: 0.5rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
