* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.xs-icon {
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.md-logo {
  width: 120px;
  height: 70px;
}

.row-right {
  justify-self: end;
}
